/* App.css */

body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
 
}

.BookContainer {
  max-width: 600px;
  margin: 50px auto;
}

.bookForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookFormHeading {
  font-size: 18px;
  margin-bottom: 10px;
}

.bookFormInput {
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
  border: 1px solid #4caf50;
  border-radius: 5px;
  background-color: #333;
  color: #ffffff;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 70%;
  font-size: 16px;
  border-radius: 5px;
}

.results {
  margin-top: 30px;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 8px solid #4caf50;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.bookList {
  list-style-type: none;
  padding: 0;
}

.book-download {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: Show ellipsis (...) for overflowed text */
  border: 1px solid #ccc; /* Optional: Add a border for visual clarity */ 
  background-color: #333;
  padding: 15px;
  margin: 0 5px 20px 5px;
  border-radius: 5px;
}

.book-download h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 14px;
  margin: 0;
}

@media (max-width: 768px) {
  .BookContainer {
    margin: 20px auto;
  }
}

/* Add your own responsive styles here */
